---
layout: home
---

<div class="hero-image">
    <img src="/assets/img/banner.jpeg" alt="Home page banner">
    <div class="hero-text">
      <h1>The metamorphosis of Movie Archetypes</h1>
      <p>A timeless tale of film personas</p>
    </div>
</div>

<style>
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.hero-image {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw; /* Utilisez 100vw pour prendre toute la largeur de la fenêtre */
  height: 300px; /* Définissez la hauteur du bandeau */
  overflow: hidden; /* Cache toute partie de l'image qui dépasse */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Assure que l'image couvre toute la largeur du conteneur */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.section {
  padding: 60px 20px;
  min-height: 100vh;
}

.footer-content {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}
</style>

<div id="flipbook">
  <div class="page">
    {% include _includes/introduction.md %}
  <div class="page">
    {% include _includes/conclusion.md %}
  </div>
  <!-- Ajoutez autant de pages que nécessaire -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/turn.min.js"></script>
<script>
  $(document).ready(function() {
    $("#flipbook").turn({
      width: 800,
      height: 600,
      autoCenter: true
    });
  });
</script>